body, html {
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
	
	margin: 0;
    background-repeat: no-repeat;

	height: 100%
}


